*{
    margin: 0;
    padding: 0;
}

#container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items:flex-start;
}

.divider_a{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items:flex-start;
}
.divider_b{
    flex: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items:flex-start;
}